<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/materialize/css/materialize.min.css') }}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/materialize/css/materialize.css') }}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/materialize/css/style.css') }}"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--<meta charset="UTF-8" /> -->
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {% block header %}{% endblock %}
        {% block stylesheets %}{% endblock %}

        <!--<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />-->
    </head>
    <body>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        {#<script type="text/javascript" src="{{ asset('bundles/materialize/js/materialize.min.js') }}"></script>#}
        <script type="text/javascript" src="{{ asset('bundles/materialize/js/init.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/materialize/js/materialize.js') }}"></script>

        <div id="index-banner" class="parallax-container">
            <div class="parallax"><img src="bundles/materialize/images/Pic6.png" alt="Unsplashed background img 1"></div>
        </div>
        <div class="container">
            <h1 class="header center teal-text text-darken-2 ">Ministry of Education</h1>
            <div class="row center">
                <h4 class="header col s12 text-darken-4">Grade One Entry Qualification Evaluation System</h4>
            </div>

        </div>
        {% block body %}{% endblock %}
        <div class="parallax-container valign-wrapper">
            <div class="parallax"><img src="bundles/materialize/images/Pic5.png" alt="Unsplashed background img 3"></div>
        </div>
        <footer class="page-footer teal">
            <div class="col">
                <div class="row">
                    <div class="col s9">
                        <h5 class="white-text">Ministry of Education</h5>

                    </div>

                    <div class="col offset-l1">
                        <h6 class="white-text">- Grade One Entry Evaluation System</h6>

                    </div>

                </div>
            </div>
            <div class="footer-copyright">
                <div class="col">

                    <h6 align="right">iSolve Project by Thirasara, Prabodha, Saarrah and Surani</h6>
                </div>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
